<body style="font-family:helvetica">
    <h4><a href="/">Return to Home Page</h4></a>
    <h4><a href="/cisco_xe">Switch to Ad-Hoc Mode</h4></a>
    <h3>Cisco IOS-XE Config Mode</h3>
    <p>&nbsp;</p>
    <form action="" method="POST">
        <h4>Please enter device SSH credentials:</h4>
        <p><label for="uname">Username:</label> <input name="uname" type="text" /><br /><br /> 
        <label for="passwd"> Password:</label> <input name="passwd" type="password" /></p><br /><br /> 
        <h4> Enter IOS commands, one per line:</h4>
        <textarea id="cmd" cols="35" name="cmd" rows="10"></textarea><br /><br />
        <p> 'enable' and 'conf t' are implied and not needed<br><br />  
        <input type="submit" value="Submit">
        </form>
    </body>