<body style="font-family:helvetica">
<h4><a href="/">Return to Home Page</h4></a></form></b>
<h3>Linux</h3>
<p>&nbsp;</p>
<form action="" method="POST">
    <h4>Please enter device SSH credentials:</h4>
    <p><label for="uname">Username:</label> <input name="uname" type="text" /><br /><br /> 
    <label for="passwd"> Password:</label> <input name="passwd" type="password" /></p><br /><br /> 
    <h4> What command do you want to run?:</h4>
    <p>Pipes (|) and other operators are supported</p>
    <label for="cmd"> Command:</label> <input name="cmd" type="text" />
    <input type="submit" value="Submit" /></p>
    </form>
    
</body>